.upCSS2,
.downCSS2{
	position: relative;
	width: 30px;
	height: 30px;
	text-decoration: none;
	border: solid 1px transparent;
	border-radius: 20%;
	background-color: white;
	color: orange;
	padding: 0;
	z-index: 100;
}

.upCSS2:hover,
.upCSS2:active,
.downCSS2:hover,
.downCSS2:active {
	background-color: orange;
	border: solid 1px transparent;
	color: white;
	display: inline-block;
}

#vote-item{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 15px;
}