.btn:hover,
.btn:active {
	text-decoration: none;
	background-color: #EE7600;
	border: 2px solid #EE7600;
	color: white;
	font-family: 'Lato', sans-serif;
}

.btn:visited,
.btn:link {
	text-decoration: none;
	background-color: #EE7600;
	border: 2px solid #EE7600;
	color: white;
	font-family: 'Lato', sans-serif;
}

#poll-item{
	margin-top: 70px;
	margin-bottom: 70px;
	margin-left: 20px;
}

.addBtn2 {
	position: relative;
	width: 40px;
	height: 40px;
	text-decoration: none;
	border-radius: 50%;
	border: solid 3px orange;
	background-color: white;
	color: orange;
}

.addBtn2:hover,
.addBtn2:active {
	border: solid 3px white;
	background-color: orange;
	color: white;
}