.upCSS2,
.downCSS2{
	position: relative;
	width: 30px;
	height: 30px;
	text-decoration: none;
	border: solid 1px transparent;
	border-radius: 20%;
	background-color: white;
	color: orange;
	z-index: 100;
}

.upCSS2:hover,
.upCSS2:active,
.downCSS2:hover,
.downCSS2:active {
	background-color: orange;
	border: solid 1px transparent;
	color: white;
}

.voting{
	margin-top: -5.2%;
}

.votes2{
	font-size: 30px;
	color: orange;
	font-weight: 7px;
	text-align: center;
}
