.flex-row {
	flex-direction: row;
	font-family: "Titillium Web", sans-serif;
}

.progress {
	color: #f80;
	height: 1.5em;
	width: 50%;
	background-color: whiteSmoke;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.progress:before {
	content: attr(data-label);
	font-size: 0.8em;
	position: absolute;
	text-align: left;
	padding-left: 1vh;
	padding-top: 1px;
	color: black;
	font-weight: bold;
}

.progress .value {
	background-color: orange;
	display: inline-block;
	height: 100%;
	border-radius: 3px;
}
