.upCSS,
.downCSS{
	position: relative;
	width: 30px;
	height: 30px;
	text-decoration: none;
	border: solid 1px transparent;
	border-radius: 20%;
	background-color: transparent;
	color: orange;
	padding: 0;
	z-index: 100;
}

.upCSS:hover,
.upCSS:active,
.downCSS:hover,
.downCSS:active {
	border: solid 1px transparent;
	display: inline-block;
	color: #ee7600;
}

.voteBar{
	position: relative;
	border: solid 3px orange;
	border-top: transparent;
	width: 78.7%;
	bottom: 42px;
	display: block;
	margin: auto;
}

.middle{
	display: flex;
	align-items: center;
	justify-content: center;
}

.votes{
	color: orange;
	font-weight: bold;
	font-size: 25px;
	position: relative;
	bottom: 3px;
	margin-left: 20%;
	margin-right: 20%;
}

/*centralise, change the middle, align the bar*/